/* css Document*/
* {
	margin: 0;
	padding: 0;
	
}

body {
	background-color: #DCDCDC;
}

/*header*/

header{
	margin: 0 auto;
	width: 100%;
	height: 120px;
	 
}

header .header1{
	width: 1280px;
	height: 50px;
	background-color: #663399;

}

header .header1 .title{
	color:#fff;
	font-size: 18px;
	float: left;
	margin: 13px 45px;
}

header .header1 .search {
	float: right;
	margin: 10px 30px;
}

header .header1 .search input {
	width: 180px;
	height: 25px;
	padding: 0 10px;
	border-radius: 15px;
	border:1px solid gray;


}

header .header1 .search input:hover{
	border: 1px solid #000000;
	letter-spacing: 3px;
}


header .header2{
	width: 1280px;
	height: 70px;
    background-color: #fff;
    border-bottom: 2px solid gray;
}
header .header2 {
	float: left;

}
header .header2 .list{
	float: right;
}

header .header2 .list ul li {
	list-style-type: none;
	float: left;
	margin: 0px, 15px;
}
header .header2 .list ul{
	float: right;
}

header .header2 .list ul li  a{
	text-decoration: none;
	color: #000000;
	float: left;
	margin: 
	padding: 25px 12px;
	margin: 8px 15px;
	font-variant: bold;
	
}

header .header2 .logo{
	float: left;
	margin: 20px 45px;
	font-size: 24px;
}

header .header2 .list ul li a:hover{
	border-bottom: 3px solid;
	background-color: #A9A9A9;
	color: white;

}




/* end header*/

/* content*/
 #content{
 	width: 1220px;
 	height: 600px;
 	background-color:#f5f5f5 ;
 	padding: 0px 30px;
 	margin: 0 auto;
}

#content .right{
	float: right;
}

#content .left{
	float: left;
	margin: 150px 60px;
}
#content .left table tbody tr td {
	line-height: 35px; font-size: 24px; letter-spacing: 2px;
	display: flex;
}

#content .left table tbody tr td  .hire{
	float: left;
	margin: 0px  40px;
}

#content .left table tbody tr td  .down{
	float: left;
	margin: 0px 50px;}

	#content .left table tbody tr td  a{
		text-decoration: none;
		 background-color: #D3D3D3;
	}

	#content .left table tbody tr td  .hire a{
		color: #FFFAFA;
		background-color: #9370DB;
		border-radius: 8px;
		border:1px solid gray;
		padding: 0px 5px;
	}

	#content .left table tbody tr td  .down a{
		color: #FFFAFA;
		background-color: #9370DB;
		border-radius: 8px;
		padding: 0px 5px;
		border:1px solid gray;
	}

	#content .left table tbody tr td  .hire a:hover{
		color: #000000;
		background-color: #fff;
		border-radius: 8px;
		border:1px solid gray;

	}

	#content .left table tbody tr td  .down a:hover{
		color: #000000;
		background-color: #fff;
		border-radius: 8px;
		border:1px solid gray;
	}
	#content .left table tr td {
		font-family: Cursive;
		font-weight: bold;
	}

/* end content*/

/*footer*/





.fa-facebook, .fa-twitter, .fa-instagram, .fa-github{
	color: white;

}

.row{
	display: flex;
	flex-wrap: wrap;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.footer{
	background-color: #000000;
	padding:70px 0;
	width: 1280px;
	margin-bottom: 0;
}

.footer-col{
	width: 20%;
	padding: 0 15px;
}

.footer-col ul li a{
	display: block;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 15px;
	
}

.footer-col h4
{
	font-size: 18px;
	color:#ffffff;
	text-transform:uppercase;
	margin-left: 20px;
	font-weight: 500;
	
}

.footer-col ul li a{
	padding:10px 10px;
	color: white;
	text-align: center;
	text-decoration: none;
}

ul{
	list-style: none; 	
}

.footer-col .social-handle a{
	display: inline-block;
	height: 10px;
	width: 10px;
	color: white;
	margin-top: 50px;
	margin-left: 20px;
	font-size: 20px;

	
}


.footer-col h4{
	display: inline-block;
	
	padding-bottom: 5px;
	border-width: 2px;
	box-sizing: border-box;
}

.footer-col ul li a:hover{
	color: black;
	background-color: white;
}

.contact-section{
	width: 1280px;
background-color: #f1f1f1;
padding: 20px;
border-radius: 5px;
margin-top:30px;
margin-bottom: 15px;


}

.contact-section h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #663399;
    text-align: center;
     margin-top: 10px;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 400px;
   margin: auto;
   margin-top: 5px;

}

input[type=submit] {
  width: 10%;
  color: white;
  padding: 8px 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;;
  font-size: 20px;
  border: 2px solid #3498DB;
  transition: 0.6s;
  background-color: #3498DB;
  border-radius: 10px;
  background: #663399;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 3px #3498DB;
}

input[type=submit]:hover{
background:#3498DB;
color:white;

}
.text-title{
	margin: 40px 50px;
	border-bottom: 2px solid #663399;
	color: #663399;
	
}



.text{
	margin:0 25px;
	text-align: center;
	font-size: 24px;
	justify-content: center;
	font-family: Cursive;
}





/* end footer*/



